body {
  background: #3e1053;
}

.aur-nav-bav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5f1b8f;
}

.aur-nav-bav li {
  float: left;
}

.aur-nav-bav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.aur-nav-bav li a:hover {
  background-color: #c727dc;
}

.aur-home {
  margin-left: 15px;
  margin-top: 0px;
}
