<h1>Welcome</h1>
<p> To the Lovecraftian horror that is Razor, Aurelia and Angular... all playing somewhat nice together!</p>

<p>Anything run by the Razor Pages are Black/Grey</p>
<p>Anything run by Aurelia will be Purple/Pink</p>
<p>Anything run by Angular will be Red/Orange</p>

